.P1Side {
    display: flex;
    justify-content: center;
}

.P2Side {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin: auto;
}

.p1tally {
    position: absolute;
    right: 3em;
    margin-top: -6em;
}

.p2tally {
    position: absolute;
    right: 3em;
    margin-top: -6em;
}