.GameTable {
    height: 100vh;
    width: 100vw;
}

.startbtn {
    position: absolute;
    left: 0;
    bottom: 0
}

.commonCardContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 45%;
}