.GameTable {
    height: 100vh;
    width: 100vw;
}

.startbtn {
    position: absolute;
    left: 2em;
    bottom: 2em;
}

.historybtn {
    position: absolute;
    right: 2em;
    bottom: 2em;
    padding: 0.1em;
    background-color: #EFEFEF;
    color: black;
    text-decoration: none;
}
.historybtn:hover {
    color: black
}

.commonCardContainer {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 45%;
}